.expander {

    text-align: center;

    .content {
        max-height: 0rem;
        opacity: 0;
        overflow: hidden;
        transition: max-height 1s, opacity 1s linear 0.0s;
    }

    &.open>.content {
        max-height: 50rem;
        opacity: 1;
    }

    &>button {
        background-color: transparent;
        border: none;
    }    
}
